/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

/* Estilos para el encabezado hero */
.hero {
    background-image: url('imagen-hero.jpg'); /* Agrega la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
}

.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #ff4500;
}

/* Estilos para la sección de características */
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.feature {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
